<!DOCTYPE html>
<<html>
  <head>
    <title>Desert</title>
    <link rel = "stylesheet" type = "text/css" href = "css/style.css">
  </head>
  <body>
    <div align="middle">
    <h1>Desert Animals</h1>
    <hr width ="25%" color=#c66a00>
    <h2>Camels</h2>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/vPxskR7qXcU" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    <br>
    <img src = https://www.themonthly.com.au/sites/default/files/styles/blog_image/public/A09TYA%20copy.jpg?itok=UgIn00Rp>
    <img src = http://animals.sandiegozoo.org/sites/default/files/2016-09/animals_hero_camels.jpg>
    <p>Camels can run 40 miles per hour and have an average lifespan of 40 years. Their average height ranges from 5.9 to 6.6 feet tall, they weigh 880 to 1,300 pounds. Camels are able to close their nostrils to keep dust out.  Camels are mammals with long legs, a big-lipped snout and a humped back. There are two types of camels: dromedary camels, which have one hump, and Bactrian camels, which have two humps. Camels' humps consist of stored fat, which they can metabolize when food and water is scarce.</p>
    
    <hr width = "75%" color=#c66a00>
    
    <h2>Owl</h2>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/m0XgSrdYQRY" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    <br>
<img src = http://www.cjcphoto.net/desertowls/images/100407-175130-75-d300.jpg>
    <img src = https://www.desertmuseum.org/kids/oz/long-fact-sheets/great%20horned%20owl%20copy.jpg>
    <p>The desert owl or desert tawny owl, formerly known as Hume's owl, is a species of owl. It is closely related to the more widespread tawny owl and to the range-restricted Omani owl.It is found in every habitat within our region. Ferruginous Pygmy-Owl: This species ranges from southern Arizona and southernTexas, south through Central and South America. The Ferruginous Pygmy-Owl is found in saguaro deserts and wooded river bottoms.</p>
    
    <hr width = "75%" color=#c66a00>
    
    <h2>Chameleon</h2>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/aZuxerppygM" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    <br>
<img src = https://upload.wikimedia.org/wikipedia/commons/f/f8/Namaqua_Cham%C3%A4leon-01.jpg>
    <img src = https://images.fineartamerica.com/images-medium-large-5/namaqua-chameleon-in-the-namib-desert-michael-and-patricia-fogden.jpg>
    <p>The Namaqua chameleon is a ground-living lizard found in the western desert regions of Namibia, South Africa and southern Angola.Chamaeleo namaquensis is one of the largest chameleon species in southern Africa, and reaches up to 25 cm in length. Its tail is far shorter than its body and than those of other arboreal species of chameleon. This is an adaptation to its primarily terrestrial habitat. It has large dorsal spines and a prominent, pointed casque on the back of its head, however it lacks the neck flap of other Chamaeleo species.</p>
    
    <hr width = "75%" color=#c66a00>
    
    <h2>Leopard</h2>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/uxPMj-lq_aA" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    <br>
    <img src = http://www.rockjumperbirding.com/wp-content/media/Leopard-Kgalagadi-Transfrontier-NP-SA-AR-2421-e1401803923238.jpg>
    <img src = https://www.yvonnevandermey.nl/wp-content/gallery/luipaarden/04luipaardvrouwtje-bij-drinkplaats-leopard-female-near-waterhole-copyrightyvonnevandermey.jpg>
    <p>Most leopards have a light colored coat with dark spots. There are black leopards who’s spots are hard to see because of how dark their coat is. Leopards are springy and fast, they fun 58 km per hour and could leap 6 m forward. They are territorial and will only cross territories to mate. These big cats pretty much eat any prey that’s available they are skilled climbers and like to rest in branches during the day.</p>
    
    <hr width = "75%" color=#c66a00>
    
    <h2>Rattlesnake</h2>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/WjNgq7gwdig" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    <br>
    <img src = https://kids.nationalgeographic.com/content/dam/kids/photos/animals/Reptiles/Q-Z/rattlesnake-ground.ngsversion.1396531205984.jpg>
    <img src = http://a57.foxnews.com/images.foxnews.com/content/fox-news/great-outdoors/2017/09/18/man-tries-to-barbecue-rattlesnake-gets-bit-on-face/_jcr_content/par/featured_image/media-0.img.jpg/931/524/1505781531945.jpg?ve=1&tl=1&text=big-top-image>
    <p>Rattlesnakes feed on rodents, squirrels, rabbits and other small critters. They come out in the spring to eat and mate and hibernate in the winter. Most of the time there are about 8 to 10 eggs and they stay with the mother until they hatch and the babies are about 20 inches long. The rattle on the snake is empty and makes noise by knocking the segments into each other meaning a rattlesnake will at last need two segments to make a sound.</p>
    
    <hr width = "75%" color=#c66a00>
    
    <h2>Falcon</h2>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/ZxbKaLSzcBA" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    <br>
    <img src = https://www.technobuffalo.com/wp-content/uploads/2014/01/falcon-470x310@2x.jpg>
    <img src = https://cdn.britannica.com/700x450/07/1907-004-5162F5E4.jpg>
    <p>Bears can see in color unlike many mammals. Polar bears are the largest land predators standing over 11 feet tall and weighing over 1700 pounds. They have a better sense of smell than dogs. A group of bears is called a sloth. Out of 8 speciestes the panda bear almost feeds entirely on bamboo while the polar bear is the most carnivorous and the other 6 species are mainly omnivores. If you eat a polar bear’s liver you will die because humans can’t take in that much vitamin. Grizzly bears have enough strength in their jaw to crush a bowling ball.</p>

</div>


  </body>
</html>