<!DOCTYPE html>
<html>
  <head>
    <title>Rainforest</title>
    <link rel = "stylesheet" type = "text/css" href = "css/style.css">
  </head>
  <body>
    <div align="middle">
    <h1>Rainforest Animals</h1>
    <hr width = "25%" color=#c66a00>
  <h2>Monkey</h2>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/owr198WQpM8" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      <br>
      <img src = https://media.tenor.com/images/496f58d3f5122bf835173396e6c45a35/tenor.png>
    <img src = "http://assets4.bigthink.com/system/idea_thumbnails/47827/size_1024/monkey2.jpg?1349705182">
         <p>there are more than 260 species known for monkeys. Most of the species are omnivores meaning they eat both meat and plants. Depending on their habitat there will be slight changes but they all eat about the same things. For example they would eat insects, flowers, seeds, vegetables, and fruits. A group of monkeys are known as tribes or other similar callings. Monkeys can understand written numbers and could count.</p>
  
  <hr width = "75%" color=#c66a00>
  
  <h2>Tiger</h2>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/jEQaRY4YpVo" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      <br>
      <img src = https://defenders.org/sites/default/files/styles/large/public/tiger-dirk-freder-isp.jpg>
    <img src = "https://upload.wikimedia.org/wikipedia/commons/thumb/8/81/2012_Suedchinesischer_Tiger.JPG/220px-2012_Suedchinesischer_Tiger.JPG">
         <p>The Tiger is the largest in the cat family. They can weigh up to 660 pounds and reach the length of 11 feet.tiers can swim up to 6 kilometers and rare white tigers carry a gene that is only in 1 of 10000 tigers. Many subspecies of the tiger are already extinct or endangered due to humans destroying habitats or hunting. Around half of  Tiger cubs don’t live past 2 years and leave their mothers at the age of 2. 
</p>
  
  <hr width = "75%" color=#c66a00>
  
  <h2>Frog</h2>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/9r8_gkHG8e0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      <br>
      <img src =https://i.ytimg.com/vi/U7cChtwrXxI/hqdefault.jpg>
    <img src = "https://le-www-live-s.legocdn.com/sc/media/lessons/wedo-2/wedo-projects/images/frogs-metamorphosis-project-image-feb9db40c70bcda57e12f5671d4bc278.jpg?fit=around|700:700&crop=700:700;*,*">
         <p>There are over 5000 species of frogs. They don't need to drink water because they absorb it through their skin. A frogs call is unique to its species and could be heard up to a mile away. Some frogs can jump over 20 times their own body length. Many species of frog care for their offsprings</p>
  
  <hr width = "75%" color=#c66a00>
  
  <h2>Chameleon</h2>
      <p><iframe width="560" height="315" src="https://www.youtube.com/embed/aZuxerppygM" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
</p>
    <br>
    <img src = https://kids.nationalgeographic.com/content/dam/kids/photos/animals/Reptiles/A-G/chameleon-sleepy.adapt.945.1.jpg>
    <img src = "https://i.ytimg.com/vi/3kAs5yoHhF8/maxresdefault.jpg">
      <p>The chameleons tongue can reach its prey in just 0.07 split seconds, with the projectile acceleration reaching over 41 g's of force. Chameleons usually eat large insects such as locusts, grasshoppers, crickets, and stick insects, some bigger species also eat other lizards and young birds.Chameleons or chamaeleons are a distinctive and highly specialized clade of Old World lizards with 202 species described as of June 2015. These species come in a range of colors, and many species have the ability to change color.</p>
         
  
  <hr width = "75%" color=#c66a00>
  
  <h2>Gorilla</h2>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/ieS2DsrDh18" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      <br>
      <img src =https://qph.fs.quoracdn.net/main-qimg-bf3a78287cdd4ab7ebccd60678b6b9b5-c>
    <img src = "https://zooatlanta.org/wp-content/uploads/2016/12/gorilla_taz_ZA_2868.jpg">
         <p>There are two species of gorilla - eastern and western. Each of these is divided into two subspecies - eastern lowland and mountain (eastern) and western lowland and cross river (western). The two species live in central Africa, separated by a vast swathe of rainforest.Gorillas are ground-dwelling, predominantly herbivorous apes that inhabit the forests of central Sub-Saharan Africa. The genus Gorilla is divided into two species: the eastern gorillas and the western gorillas, and either four or five subspecies.
</p>
       
  <hr width = "75%" color=#c66a00>
  
  <h2>Crocodile</h2>
      <p><iframe width="560" height="315" src="https://www.youtube.com/embed/_zrv4LcFV8s" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
</p>
      <img src =https://ichef.bbci.co.uk/news/660/cpsprodpb/627C/production/_95721252_mediaitem95721251.jpg>
    <img src = "https://i0.wp.com/media.premiumtimesng.com/wp-content/files/2018/01/Crocodiles-e1514976432205.jpg?fit=860%2C573&ssl=1">
      <p>Crocodiles or true crocodiles are large aquatic reptiles that live throughout the tropics in Africa, Asia, the Americas and Australia. Crocodylinae, all of whose members are considered true crocodiles, is classified as a biological subfamily.While alligators (and caimans) are often confused with crocodiles, they belong to two quite separate taxonomic families. The most obvious external differences are visible in the head—alligators and caimans have wider and shorter heads, and a more U-shaped than V-shaped snout.</p>
         
  
  <hr width = "75%" color=#c66a00>
  
  <h2>Sloth</h2>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/eq42qcpTo1o" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      <br>
      <img src = https://peopledotcom.files.wordpress.com/2018/04/litsl-6.jpg>
    <img src = "http://www.slothville.com/wp-content/uploads/2017/10/poo-pole.jpg">
         <p>Sloths are arboreal mammals noted for slowness of movement and for spending most of their lives hanging upside down in the trees of the tropical rainforests of South America and Central America. Sloths are clumsy on land but are great swimmers.Sloths are arboreal animals, so they spend most of their time in trees.Sloths only urinate/defecate once a week.Contrary to their reputation, sloths only sleep about 10 hours a day. Algae grow on their fur, which camouflages them green.</p>
  
  <hr width = "75%" color=#c66a00>
  
  <h2>Bat</h2>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/9FVoTMOorXA" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      <br>
      <img src = https://mongabay.s3.amazonaws.com/madagascar/600/madagascar_0321.jpg>
    <img src = "https://thenypost.files.wordpress.com/2017/04/dead-bat.jpg?quality=90&strip=all">
         <p>Bats are flying mammals.While others can glide, bats are the only mammals capable of continued flight.There are over 1000 different bat species.Bats are nocturnal (active at night).Bats 'see' in the dark using a special skill called echolocation.Bats ‘see’ in the dark using a special skill called echolocation. Bats make noises and wait for the sound waves to bounce back off objects (an echo), if it doesn’t bounce back then they can safely fly forward. They can tell the distance of various objects by how quickly the sound waves bounce back to them.</p>
  
  </div>
  </body>
</html>
